<html>
  <head>
    <link rel="stylesheet" href="/assets/css/foundation.min.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <script src="/assets/js/vendor/jquery.js"></script>
    <script src="/assets/js/vendor/foundation.min.js"></script>
    <script src="/assets/js/vendor/what-input.js"></script>
    <script src="/assets/js/app.js"></script>
  </head>
  <body>
    <h2>Requests for: <%= endpoint.method %> <%= endpoint.path %></h2>

    <table>
      <tbody>
        <% endpoint.requests.each_with_index do |request, index| %>
          <tr>
            <td><%= index %>:</td>
            <td>
              <pre><%= request %></pre>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
